[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
soundfile = "*"
"pyqt5" = "*"
cupy-cuda100 = "*"

[dev-packages]

[requires]
python_version = "3.6"
