[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-speech-features = "*"
neuronpy = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
"pyqt5" = "*"
pyspike = "*"

[dev-packages]

[requires]
python_version = "3.6"
